{{ template "base" . }} {{ define "title"}}Posts{{ end }} {{ define "body" }}
<header><br><br>
    <center>
        <p style="color:black;">
            <font face="Helvetica Neue" size="12">
                <B>Bienvenue dans le Forum !</B>
        </p>
        </font>
    </center>
</header>

<body><br><br><br>
    <div style="margin-left: 580px; margin-top: 0px;">
        <p style="color:rgb(61, 61, 61);">
            <font face="Segoe ui" size="6">
    </div>
    </p>
    </font>
</body>

{{ end }}